// Colmena Color Scheme
$colmena-red: #D32F2F;
$colmena-blue: #1565C0;
$colmena-primary: #1b95e0;
$colmena-yellow: #FDD835;
$colmena-green: #66BB6A;
$colmena-background: #243447;

// Override Bootstrap
$brand-info: $colmena-blue;
$brand-primary: $colmena-primary;
$brand-success: $colmena-green;
$brand-warning: $colmena-yellow;
$brand-danger: $colmena-red;

$btn-warning-color: $colmena-background;

// Override CoreUI
$sidebar-bg: $colmena-background;

// Set Logo
$navbar-brand-logo: url('./assets/logo.png');
$navbar-brand-logo-size: 50px auto;
@import '~@colmena/admin-ui/src/styles.scss';
@import './assets/animate.css';

.brand-logo {
  display: block;
  height: 200px;
  background: $navbar-brand-logo no-repeat center center;
  background-size: 200px auto;
}
