
<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>    
<iframe src="http://10.96.5.42:3001/" width="100%" height="1000px" frameborder="0"  onload="resizeIframe(this)"></iframe>
<div class="row">
      <div class="col-md-12">        
      </div>
</div>
