



  <label class="mr-sm-2" for="inlineFormCustomSelectPref">API Node</label>

  <div class="row">
    <div class="col-md-6">
      <select class="form-control" [(ngModel)]="selectedValue">
        <option *ngFor="let c of processList" [ngValue]="c">{{c.name}}</option> 
      </select>
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary" (click)="update()">Submit</button>
      
    </div>
  </div>
  <br>
  

 




<iframe [src]="currentUrl"  width="100%" height="1000px" frameborder="0" ></iframe>



