<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label ></label>
            <textarea [(ngModel)]="pushConfig" class="form-control" id="exampleFormControlTextarea1" rows="3" width="100%" style="height: 200px;"></textarea>
          </div>
          <button (click)="savePushConfig()" type="button" class="btn btn-block btn-primary">Save</button>
    </div>
    <ng2-toasty></ng2-toasty>
</div>