
    <div class="row">
      <div class="col-md-12">
        <ui-card>
          <ui-card-header>
            <i class="icon-paper-plane"></i>
            &nbsp; Send Push Notification
          </ui-card-header>
          <ui-card-content>
            
                   <div class="form-group center" style="margin: 0 auto;width: 50%;text-align:center">
                      <label for="staticEmail" >Select a list of groups to which the notification wil be sent</label>
                      
                      <ss-multiselect-dropdown [texts]="myTexts"  [settings]="mySettings" [options]="groups" [(ngModel)]="selectedGroups"  (ngModelChange)="change($event)"></ss-multiselect-dropdown>                  
                      
                    </div>
                  
              
                  <br>
                  <input [(ngModel)]="title" class="form-control" type="text" placeholder="Title...">
                  <br>
             
              
             
                  <div class="form-group">
                      <textarea [(ngModel)]="content" placeholder="Content..." class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <br>
                    <button (click)="sendNotification()" type="button" class="btn btn-block btn-primary">Send notification</button>
                    
              
            
            <ng2-toasty></ng2-toasty>
        
          </ui-card-content>
        </ui-card>
      </div> 
    </div>