<div class="row">
    <ui-card>
      <ui-card-content> 

          <div class="row">
            <div class="col-md-8">
              <textarea [(ngModel)]="currentJson" name="translation" id="" cols="30" rows="10" style="width:100%;height:100%;font-size:20px"></textarea><br>
              <br>
              <div style="float:right">
                <button (click)="doSave(currentTranslation)" type="button" class="btn btn-primary" style="margin-bottom:10px">
                    <i class="fa fa-save float-left" style="cursor:pointer;float:right;font-size:14px;margin:5px" > <span style="font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;"> Save </span></i>
                    
                </button>
                <button (click)="doDelete(currentTranslation.id)" type="button" class="btn btn-danger" style="margin-bottom:10px">
                    <i class="fa fa-trash-o float-left" style="cursor:pointer;float:right;font-size:14px;margin:5px" > <span style="font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;">  Delete </span></i></button>
              </div>
            </div>
            <div class="col-md-4">
                <div *ngFor="let translation of translations"><button (click)="doSelectTranslation(translation.id)" type="button" class="btn btn-block" [ngClass]="{'btn-primary': translation.id== currentTranslation.id}" style="margin-bottom:10px">{{ translation.language }}</button></div>
              <hr>
              <div class="row">
                <div class="col-md-8">
                  <input type="text" style="width:100%;height: 44px" [(ngModel)]="newTranslation">
                </div>  
                <div class="col-md-4">
                    <button (click)="doAdd()" type="button" class="btn btn-primary" style="margin-bottom:10px">
                        <i class="fa fa-plus float-left" style="cursor:pointer;float:right;font-size:14px;margin:5px" > 
                          <span style="font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;">  Add </span>
                        </i></button>
                  
                </div>
              </div>   
            </div>

          </div>

      </ui-card-content>
    </ui-card>
     <ng2-toasty></ng2-toasty> 
  </div>