<div class="row">
  <ui-card>
    <ui-card-content>Add a new theme<br/><br/>

      <div class="input-group input-group-lg">
        <input [(ngModel)]="theme.id" type="text" class="form-control" placeholder="Theme name" aria-label="Theme name" aria-describedby="sizing-addon1">
      </div>
      <br>
      <div class="input-group input-group-lg">
        <input [(ngModel)]="theme.description" type="text" class="form-control" placeholder="Description" aria-label="Description" aria-describedby="sizing-addon2">
      </div>
      <br>
      <div class="input-group input-group-lg">
        <button (click)="doAdd()" type="button" class="btn btn-primary btn-block">Add theme</button>      
      </div>
      
    </ui-card-content>
  </ui-card>
  <ng2-toasty></ng2-toasty>
</div>