<div class="row">
  <ui-card>
    <ui-card-content> <span *ngIf="themes.length!=0" style="font-size:24px;">Selecte a theme to be activated<br/> </span><br/>

      <div class="row">

        <div class="col-md-12" *ngIf="themes.length==0" style="font-size:24px;text-align:center"> No Themes to be activated <br></div>


        <div *ngFor="let t of themes" class="col-md-4">
          <ui-card [ngClass]="{'active': t.isActive}">
            <ui-card-header style="font-size:18px;">
              {{ t.name }} <span *ngIf="t.isActive" (click)="doActivate(t.id)"> (Active)</span>
              <i class="fa fa-trash-o float-right" style="cursor:pointer;float:right;font-size:18px;" (click)="doDelete(t.id)"></i>
            </ui-card-header>
            <ui-card-content>
                <span style="font-size:16px;">{{ t.description }}</span> <br><br>
              <button [ngClass]="{'disabled': t.isActive}"  (click)="doActivate(t.id)" type="button" class="btn btn-primary btn-block">Activate</button>  
            </ui-card-content>
          </ui-card>
        </div>
     
      </div>
    </ui-card-content>
  </ui-card>
  <ng2-toasty></ng2-toasty>
</div>