<div class="container">
  <div class="row align-items-center">
    <div class="col-12 col-lg-6 mb-1">
      <h5>Change Password</h5>
      <hr />
      <ui-form [config]="formConfig" [item]="items" (action)="handleAction($event)"></ui-form>
    </div>
    <div class="col-12 col-lg-6">
      <h5>Password Recovery</h5>
      <hr />
      <p class="text-justify mb-2">
        An email with a password recovery link will be sent to the user's email address.
      </p>
      <button type="button" class="btn btn-primary btn-block" (click)="handleAction({ action: 'reset', item: item})">
        Trigger Password Reset
      </button>
    </div>
  </div>
</div>
<ng2-toasty></ng2-toasty> 
